/* Dashboard.css */
.dashboard-container {
    display: flex;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
    /* Add any additional styling for your dashboard content */
  }
  
  /* VerticalNavbar.css */
  .vertical-navbar {
    width: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .nav-link {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px; /* Adjust the font size as needed */
    font-family: 'Sans-serif'; /* Use your preferred sans-serif font */
    font-weight: bold; /* Make the text bold */
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  